In [80]:
import pandas as pd

In [64]:
df = pd.read_csv('kumparan_unprocessed_news_data.csv', sep='\t')

# Display the first few rows
df.head()

,article_title,article_author,article_publication_date,article_content
0,"Respon Instruksi Presiden Jokowi, Kadiv Keimig...",Rutan Salatiga,2022-10-10T08:12:44.938803Z,"SEMARANG - Menjadi Pembina Apel Pagi hari ini,..."
1,Kata Bobby soal Kabar Jokowi-Gibran Akan Masuk...,Salmah Muslimah,2024-12-19T06:59:44.047699Z,"Presiden ke-7 RI Joko Widodo, dan Wapres RI, G..."
2,"Loyalis Jokowi Mulai Beralih ke Prabowo, Ganja...",JatimNow,2023-02-27T00:45:05.818943Z,"jatimnow.com\nDi dalam surveinya, ia menemukan..."
3,Jokowi: Memang Masih Ditemukan Kasus Intoleran...,Wisnu Prasetiyo,2023-08-29T06:41:27.831344Z,Presiden Jokowi berbicara soal toleransi di ac...
4,"Jokowi Cabut PPKM, Khofifah Minta Warga Jatim ...",JatimNow,2022-12-30T11:25:00.60461Z,"jatimnow.com\nMenyikapi hal itu, Gubernur Jawa..."

In [65]:
# Display the the number of rows x columns
df.shape

(500, 4)

In [66]:
# Summary statistics
df.describe()

,article_title,article_author,article_publication_date,article_content
count,500,500,500,499
unique,494,85,494,493
top,"Bahlil Lahadalia: Capres Kalau Mau Menang, Bai...",Ahmad Romadoni,2023-05-03T10:43:37.902334Z,Tingkat kepuasan masyarakat terhadap kinerja p...
freq,2,45,2,2

In [67]:
# Information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   article_title             500 non-null    object
 1   article_author            500 non-null    object
 2   article_publication_date  500 non-null    object
 3   article_content           499 non-null    object
dtypes: object(4)
memory usage: 15.8+ KB

In [68]:
# Check for missing values
df.isnull().sum()

article_title               0
article_author              0
article_publication_date    0
article_content             1
dtype: int64

In [69]:
# Drop row the the missing value found
df.dropna(inplace=True)

df.isnull().sum()

article_title               0
article_author              0
article_publication_date    0
article_content             0
dtype: int64

In [70]:
# Check for duplicates
df.duplicated().sum()

np.int64(6)

In [71]:
# Remove duplicates
df.drop_duplicates(inplace=True)

df.duplicated().sum()

np.int64(0)

In [72]:
# Check row where article_title column not contain Jokowi keyword
(~df['article_title'].str.contains('Jokowi', na=False)).sum()

np.int64(2)

In [73]:
# Remove row where artilce_title column not contain Jokowi keyword
df = df[df['article_title'].str.contains('Jokowi', na=False)]

(~df['article_title'].str.contains('Jokowi', na=False)).sum()

np.int64(0)

In [74]:
# Format article_publication date
df['article_publication_date'] = pd.to_datetime(df['article_publication_date']).dt.strftime('%d-%m-%Y')
df.head()

,article_title,article_author,article_publication_date,article_content
0,"Respon Instruksi Presiden Jokowi, Kadiv Keimig...",Rutan Salatiga,10-10-2022,"SEMARANG - Menjadi Pembina Apel Pagi hari ini,..."
1,Kata Bobby soal Kabar Jokowi-Gibran Akan Masuk...,Salmah Muslimah,19-12-2024,"Presiden ke-7 RI Joko Widodo, dan Wapres RI, G..."
2,"Loyalis Jokowi Mulai Beralih ke Prabowo, Ganja...",JatimNow,27-02-2023,"jatimnow.com\nDi dalam surveinya, ia menemukan..."
3,Jokowi: Memang Masih Ditemukan Kasus Intoleran...,Wisnu Prasetiyo,29-08-2023,Presiden Jokowi berbicara soal toleransi di ac...
4,"Jokowi Cabut PPKM, Khofifah Minta Warga Jatim ...",JatimNow,30-12-2022,"jatimnow.com\nMenyikapi hal itu, Gubernur Jawa..."

In [75]:
# Display the the number of rows x columns after preprocessing
df.shape

(491, 4)

In [76]:
# Summary statistics after preprocessing
df.describe()

,article_title,article_author,article_publication_date,article_content
count,491,491,491,491
unique,491,83,264,491
top,Forum Purnawirawan untuk Perubahan Desak Jokow...,Ahmad Romadoni,24-01-2024,Forum Komunikasi Purnawirawan TNI Polri untuk ...
freq,1,44,11,1

In [77]:
# Information about the dataset after preprocessing
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 491 entries, 0 to 499
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   article_title             491 non-null    object
 1   article_author            491 non-null    object
 2   article_publication_date  491 non-null    object
 3   article_content           491 non-null    object
dtypes: object(4)
memory usage: 19.2+ KB

In [78]:
# Display the first few rows after preprocessing
df.head()

,article_title,article_author,article_publication_date,article_content
0,"Respon Instruksi Presiden Jokowi, Kadiv Keimig...",Rutan Salatiga,10-10-2022,"SEMARANG - Menjadi Pembina Apel Pagi hari ini,..."
1,Kata Bobby soal Kabar Jokowi-Gibran Akan Masuk...,Salmah Muslimah,19-12-2024,"Presiden ke-7 RI Joko Widodo, dan Wapres RI, G..."
2,"Loyalis Jokowi Mulai Beralih ke Prabowo, Ganja...",JatimNow,27-02-2023,"jatimnow.com\nDi dalam surveinya, ia menemukan..."
3,Jokowi: Memang Masih Ditemukan Kasus Intoleran...,Wisnu Prasetiyo,29-08-2023,Presiden Jokowi berbicara soal toleransi di ac...
4,"Jokowi Cabut PPKM, Khofifah Minta Warga Jatim ...",JatimNow,30-12-2022,"jatimnow.com\nMenyikapi hal itu, Gubernur Jawa..."

In [79]:
# Save preprocessing data to csv
try:    
    df.to_csv('kumparan_preprocessed_news_data.csv', sep='\t', encoding='utf-8', index=False, header=True)
    print('Success saved article data to csv')
except Exception as e:
    print(f'Error occured while saved article data to csv: {e}')

Success saved article data to csv