In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('cnnindonesia_unprocessed_news_data.csv', sep='\t')

# Display the first few rows
df.head()

,article_title,article_author,article_publication_date,article_content
0,Budi Arie Diperiksa Korps Pemberantasan Korups...,CNN Indonesia,2024/12/19 13:04:03,Korps Pemberantasan Tindak Pidana Korupsi (Kor...
1,"Jejak Kasus Mary Jane: Hampir Dieksekusi, Kini...",CNN Indonesia,2024/12/19 07:51:07,Terpidana kasus penyelundupan narkoba asal Fil...
2,Respons Projo setelah Jokowi dan Keluarga Dipe...,CNN Indonesia,2024/12/18 20:01:45,Organisasi relawan pendukung Presiden ketujuh ...
3,VIDEO: Nasdem Sebut Terbuka Bagi Jokowi Kalo I...,CNN Indonesia,2024/12/18 14:30:17,Ketua DPP Partai Nasdem Willy Aditya menyebut ...
4,"VIDEO:PDIP Pecat Jokowi, Gibran, Bobby, Siti Z...",CNN Indonesia,2024/12/18 13:35:00,Pengamat politik sekaligus peneliti Badan Rise...

In [6]:
# Display the the number of rows x columns
df.shape

(460, 4)

In [7]:
# Summary statistics
df.describe()

,article_title,article_author,article_publication_date,article_content
count,460,460,460,460
unique,460,1,460,458
top,Deret Aktivitas Sepekan Pertama Prabowo sebaga...,CNN Indonesia,2024/10/28 19:06:43,"Janji pemerintahan Prabowo-Gibran, dalam membe..."
freq,1,460,1,2

In [8]:
# Information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460 entries, 0 to 459
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   article_title             460 non-null    object
 1   article_author            460 non-null    object
 2   article_publication_date  460 non-null    object
 3   article_content           460 non-null    object
dtypes: object(4)
memory usage: 14.5+ KB

In [9]:
# Check for missing values
df.isnull().sum()

article_title               0
article_author              0
article_publication_date    0
article_content             0
dtype: int64

In [10]:
# Check for duplicates
df.duplicated().sum()

np.int64(0)

In [11]:
# Check row where article_title column not contain Jokowi keyword
(~df['article_title'].str.contains('Jokowi', na=False)).sum()

np.int64(227)

In [12]:
# Remove row where artilce_title column not contain Jokowi keyword
df = df[df['article_title'].str.contains('Jokowi', na=False)]

(~df['article_title'].str.contains('Jokowi', na=False)).sum()

np.int64(0)

In [13]:
# Format article_publication date
df['article_publication_date'] = pd.to_datetime(df['article_publication_date']).dt.strftime('%d-%m-%Y')
df.head()

,article_title,article_author,article_publication_date,article_content
2,Respons Projo setelah Jokowi dan Keluarga Dipe...,CNN Indonesia,18-12-2024,Organisasi relawan pendukung Presiden ketujuh ...
3,VIDEO: Nasdem Sebut Terbuka Bagi Jokowi Kalo I...,CNN Indonesia,18-12-2024,Ketua DPP Partai Nasdem Willy Aditya menyebut ...
4,"VIDEO:PDIP Pecat Jokowi, Gibran, Bobby, Siti Z...",CNN Indonesia,18-12-2024,Pengamat politik sekaligus peneliti Badan Rise...
5,"Beda Respons Jokowi, Gibran, dan Bobby Usai Di...",CNN Indonesia,18-12-2024,"Presiden ke-7 RI Joko Widodo, Wakil Presiden G..."
6,"VIDEO: Dipecat PDIP, Jokowi: Ndak Apa, Waktu Y...",CNN Indonesia,18-12-2024,"Presiden Indonesia ke-7, Joko Widodo memberika..."

In [14]:
# Display the the number of rows x columns after preprocessing
df.shape

(233, 4)

In [15]:
# Summary statistics after preprocessing
df.describe()

,article_title,article_author,article_publication_date,article_content
count,233,233,233,233
unique,233,1,48,233
top,Respons Projo setelah Jokowi dan Keluarga Dipe...,CNN Indonesia,04-11-2024,Organisasi relawan pendukung Presiden ketujuh ...
freq,1,233,15,1

In [16]:
# Information about the dataset after preprocessing
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 233 entries, 2 to 457
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   article_title             233 non-null    object
 1   article_author            233 non-null    object
 2   article_publication_date  233 non-null    object
 3   article_content           233 non-null    object
dtypes: object(4)
memory usage: 9.1+ KB

In [17]:
# Display the first few rows after preprocessing
df.head()

,article_title,article_author,article_publication_date,article_content
2,Respons Projo setelah Jokowi dan Keluarga Dipe...,CNN Indonesia,18-12-2024,Organisasi relawan pendukung Presiden ketujuh ...
3,VIDEO: Nasdem Sebut Terbuka Bagi Jokowi Kalo I...,CNN Indonesia,18-12-2024,Ketua DPP Partai Nasdem Willy Aditya menyebut ...
4,"VIDEO:PDIP Pecat Jokowi, Gibran, Bobby, Siti Z...",CNN Indonesia,18-12-2024,Pengamat politik sekaligus peneliti Badan Rise...
5,"Beda Respons Jokowi, Gibran, dan Bobby Usai Di...",CNN Indonesia,18-12-2024,"Presiden ke-7 RI Joko Widodo, Wakil Presiden G..."
6,"VIDEO: Dipecat PDIP, Jokowi: Ndak Apa, Waktu Y...",CNN Indonesia,18-12-2024,"Presiden Indonesia ke-7, Joko Widodo memberika..."

In [18]:
# Save preprocessing data to csv
try:    
    df.to_csv('cnnindonesia_preprocessed_news_data.csv', sep='\t', encoding='utf-8', index=False, header=True)
    print('Success saved article data to csv')
except Exception as e:
    print(f'Error occured while saved article data to csv: {e}')

Success saved article data to csv